@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Merriweather+Sans:ital,wght@0,300;0,400;1,300&family=Montserrat:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

button {
  border: none;
}

input {
  outline: none;
  border: none;
}

.contain {
  padding: 0 175px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  -webkit-transition: 1.7s;
  transition: 1.7s;
}

header .navigation-bar {
  width: 100%;
  height: auto;
}

header .navigation-bar .container {
  padding: 20px 30px;
}

header .navigation-bar .container .navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navigation-bar .container .navbar-wrapper .logo-nav a img {
  width: 100%;
  height: 45px;
}

header .navigation-bar .container .navbar-wrapper .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

header .navigation-bar .container .navbar-wrapper .menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navigation-bar .container .navbar-wrapper .menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

header .navigation-bar .container .navbar-wrapper .menu nav ul li a {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

header .navigation-bar .container .navbar-wrapper .menu .nav-active {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 40px 30px;
  overflow-y: auto;
  text-align: left;
  background-color: white;
  display: block;
  -webkit-transition: 1.7s;
  transition: 1.7s;
}

header .navigation-bar .container .navbar-wrapper .menu .nav-active ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .navigation-bar .container .navbar-wrapper .menu .nav-active ul li a {
  color: #000;
}

header .navigation-bar .container .navbar-wrapper .menu .menu-icon button {
  background-color: transparent;
  border: 1px solid white;
  padding: 8px 11px;
}

header .navigation-bar .container .navbar-wrapper .menu .menu-icon button a i {
  color: white;
}

header .navigation-bar .container .navbar-wrapper .menu .nav-select {
  -webkit-transition: .7s;
  transition: .7s;
}

header .navigation-bar .container .navbar-wrapper .menu .nav-select button {
  background-color: transparent;
  border: 1px solid white;
  padding: 8px 11px;
  position: relative;
  -webkit-transition: .7s;
  transition: .7s;
}

header .navigation-bar .container .navbar-wrapper .menu .nav-select button:hover {
  background-color: #fff;
}

header .navigation-bar .container .navbar-wrapper .menu .nav-select button:hover .fa-chain-broken {
  color: #000;
}

header .navigation-bar .container .navbar-wrapper .menu .nav-select button a {
  -webkit-transition: .7s;
  transition: .7s;
}

header .navigation-bar .container .navbar-wrapper .menu .nav-select button a i {
  color: white;
}

header .navigation-bar .container .navbar-wrapper .menu .nav-select .social-content {
  position: absolute;
  top: calc(100% + 35px);
  right: 2px;
  left: 2px;
  list-style: none;
  display: none;
}

header .navigation-bar .container .navbar-wrapper .menu .nav-select ul {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

header .navigation-bar .container .navbar-wrapper .menu .nav-select ul li {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 10px;
}

header .navigation-bar .container .navbar-wrapper .menu .nav-select ul li a {
  border: 1px solid rgba(242, 242, 242, 0.4);
  color: white;
  width: 30px;
  height: 30px;
  line-height: 28px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  background-color: transparent;
  -webkit-transition: border 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
  transition: border 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
  -webkit-transition: .7s;
  transition: .7s;
}

header .navigation-bar .container .navbar-wrapper .menu .nav-select ul li a:hover {
  background-color: #fff;
}

header .navigation-bar .container .navbar-wrapper .menu .nav-select ul li a:hover i {
  color: #000;
}

header .navigation-bar .container .navbar-wrapper .menu .nav-select ul li a i {
  line-height: 28px;
  font-size: 12px;
  font-weight: 400;
  color: white;
}

header .navigation-bar .container .navbar-wrapper .menu .nav-select .active {
  display: block;
}

@media (max-width: 1536px) {
  header .navigation-bar .container {
    padding: 20px 20px;
  }
  header .navigation-bar .container .navbar-wrapper .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navigation-bar .container .navbar-wrapper .menu nav {
    display: block;
  }
  header .navigation-bar .container .navbar-wrapper .menu .menu-icon {
    display: none;
  }
}

@media (max-width: 1024px) {
  header .navigation-bar .container {
    padding: 20px 20px;
  }
  header .navigation-bar .container .navbar-wrapper .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  header .navigation-bar .container .navbar-wrapper .menu nav {
    display: block;
  }
  header .navigation-bar .container .navbar-wrapper .menu nav ul {
    gap: 20px;
  }
  header .navigation-bar .container .navbar-wrapper .menu .menu-icon {
    display: none;
  }
}

@media (max-width: 768px) {
  header .navigation-bar .container {
    padding: 20px 20px;
  }
  header .navigation-bar .container .navbar-wrapper .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navigation-bar .container .navbar-wrapper .menu nav {
    display: none;
  }
  header .navigation-bar .container .navbar-wrapper .menu nav ul {
    gap: 20px;
  }
  header .navigation-bar .container .navbar-wrapper .menu .menu-icon {
    display: block;
  }
}

@media (max-width: 480px) {
  header .navigation-bar .container {
    padding: 20px 20px;
  }
  header .navigation-bar .container .navbar-wrapper .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navigation-bar .container .navbar-wrapper .menu nav {
    display: none;
  }
  header .navigation-bar .container .navbar-wrapper .menu nav ul {
    gap: 20px;
  }
  header .navigation-bar .container .navbar-wrapper .menu .menu-icon {
    display: block;
  }
}

@media (max-width: 320px) {
  header .navigation-bar .container {
    padding: 20px 20px;
  }
  header .navigation-bar .container .navbar-wrapper .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navigation-bar .container .navbar-wrapper .menu nav {
    display: none;
  }
  header .navigation-bar .container .navbar-wrapper .menu nav ul {
    gap: 20px;
  }
  header .navigation-bar .container .navbar-wrapper .menu .menu-icon {
    display: block;
  }
}

main #first {
  width: 100%;
  height: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.35))), url(/assets/images/pagesbackground.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35)), url(/assets/images/pagesbackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

main #first .contain {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #first .contain .home-main {
  position: absolute;
  text-align: center;
}

main #first .contain .home-main h4 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 4.5px;
  font-weight: 300;
  color: white;
}

main #first .contain .home-main h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  line-height: 60px;
  letter-spacing: 1.5px;
  font-size: 50px;
  font-weight: 700;
  padding-top: 20px;
}

main #second {
  width: 100%;
}

main #second .contain {
  padding: 150px 175px;
}

main #second .contain .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

main #second .contain .pages figure img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

main #second .contain div h4 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 4.5px;
  font-weight: 300;
  color: black;
}

main #second .contain div h2 {
  font-size: 40px;
  line-height: 44px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-top: 20px;
  color: black;
}

main #second .contain div p {
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 26px;
  font-weight: 300;
  color: #111111;
}

main #third {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.35))), url(/assets/images/section.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35)), url(/assets/images/section.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main #third .contain {
  padding: 100px 175px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #third .contain .third-header {
  margin-bottom: 50px;
}

main #third .contain .third-header .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main #third .contain .third-header .head h4 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 4.5px;
  font-weight: 300;
  color: white;
}

main #third .contain .third-header .head h2 {
  font-size: 40px;
  line-height: 44px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-top: 20px;
  color: white;
}

main #third .contain .swiper-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #third .contain .swiper-wrapper .swiper-slide {
  width: 31%;
  height: 340px;
  background-color: white;
  border: 1px solid transparent;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main #third .contain .swiper-wrapper .swiper-slide figure {
  width: 50px;
  height: 50px;
}

main #third .contain .swiper-wrapper .swiper-slide figure img {
  width: 100%;
  height: 100%;
}

main #third .contain .swiper-wrapper .swiper-slide .item-card--body {
  padding-top: 20px;
}

main #third .contain .swiper-wrapper .swiper-slide .item-card--body h3 {
  font-size: 33px;
  line-height: 33px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #111111;
}

main #third .contain .swiper-wrapper .swiper-slide .item-card--body p {
  padding-top: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  color: #7e7d7d;
  text-align: center;
}

main #third .contain .swiper-wrapper .swiper-slide .button button {
  border: 1px solid black;
  background-color: transparent;
  padding: 15px 46px;
  margin-top: 35px;
  position: relative;
}

main #third .contain .swiper-wrapper .swiper-slide .button button:hover {
  background-color: black;
  -webkit-transition: 2s;
  transition: 2s;
}

main #third .contain .swiper-wrapper .swiper-slide .button button a {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 2px;
  font-weight: 500;
  display: inline-block;
  color: black;
}

main #third .contain .swiper-wrapper .swiper-slide .button button a:hover {
  color: white;
}

main #third .contain .swiper-wrapper .swiper-slide .button button a:hover::before, main #third .contain .swiper-wrapper .swiper-slide .button button a:hover::after {
  background-color: black;
}

main #third .contain .swiper-wrapper .swiper-slide .button button a::after {
  content: "";
  position: absolute;
  right: -12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: black;
  width: 24px;
  height: 1px;
}

main #third .contain .swiper-wrapper .swiper-slide .button button a::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: black;
  width: 24px;
  height: 1px;
}

main #eighth .contain {
  padding: 50px 175px;
}

main #eighth .contain .slider div h4 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 4.5px;
  font-weight: 300;
}

main #eighth .contain .slider div h2 {
  font-size: 40px;
  line-height: 44px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-top: 20px;
  color: #111111;
}

main #eighth .contain .vertical-slicer--container {
  margin-top: 50px;
  height: 304px;
  padding: 50px 40px;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
}

main #eighth .contain .vertical-slicer--container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #eighth .contain .vertical-slicer--container .swiper-slide h3 {
  font-family: "Roboto", sans-serif;
  font-size: 52px;
  line-height: 18px;
  letter-spacing: 4.5px;
  padding-top: 10px;
  color: black;
}

main #eighth .contain .vertical-slicer--container .swiper-slide h4 {
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 18px;
  letter-spacing: 4.5px;
  font-weight: 700;
  color: black;
}

@media (max-width: 1200px) {
  main #second .contain {
    padding: 150px 20px;
  }
  main #third .contain {
    padding: 100px 20px;
  }
  main #fourth .fourth-container {
    padding: 0 20px !important;
  }
  main #fourth .fourth-container .item-cards {
    padding: 0 20px !important;
  }
}

@media (max-width: 910px) {
  main #third .contain {
    padding: 100px 20px;
  }
  main #third .contain .swiper-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  main #third .contain .swiper-wrapper .swiper-slide {
    width: 48%;
  }
  main #fourth {
    padding: 100px 0 !important;
  }
  main #fourth .fourth-container {
    padding: 0 20px !important;
  }
  main #fourth .fourth-container .fourth-header {
    margin-bottom: 450px !important;
  }
  main #fourth .fourth-container .item-cards {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    gap: 30px !important;
  }
  main #fourth .fourth-container .item-cards .item-card {
    width: 48% !important;
    padding: 40px 30px !important;
  }
}

@media (max-width: 900px) {
  #second .contain .pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #eighth .contain {
    padding: 100px 20px !important;
  }
  #eighth .contain .vertical-slicer--container {
    padding: 30px 20px;
  }
}

@media (max-width: 789px) {
  main #fourth .fourth-container .fourth-header {
    margin-bottom: 850px !important;
    padding: 0 50px !important;
  }
  main #fourth .fourth-container .item-cards {
    padding: 0 80px !important;
  }
  main #fourth .fourth-container .item-cards .item-card {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  main #first .contain {
    padding: 0 20px;
  }
  main #first .contain .home-main h4 {
    font-size: 13px;
  }
  main #first .contain .home-main h1 {
    line-height: 40px;
    letter-spacing: 0.2px;
    font-size: 35px;
  }
  main #third {
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.35))), url(/assets/images/section.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35)), url(/assets/images/section.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  main #third .contain {
    padding: 100px 20px;
  }
  main #third .contain .swiper-wrapper .swiper-slide {
    width: 99%;
  }
}

@media (max-width: 480px) {
  main #first .contain {
    padding: 0 20px;
  }
  main #first .contain .home-main h4 {
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 2.5px;
    font-weight: 300;
  }
  main #first .contain .home-main h1 {
    line-height: 45px;
    letter-spacing: 1.5px;
    font-size: 35px;
    padding-top: 20px;
  }
  main #second .contain .pages {
    gap: 50px;
  }
  main #second .contain .pages figure img {
    width: 250px !important;
    height: 250px !important;
    border-radius: 50%;
  }
  main #fourth .fourth-container .fourth-header {
    padding: 0 10px !important;
  }
  main #fourth .fourth-container .item-cards {
    padding: 0 20px !important;
  }
  main #eighth .contain .vertical-slicer--container {
    padding: 20px 10px !important;
  }
}

footer {
  background-color: black;
}

footer .contain {
  padding: 0 175px;
}

footer .contain .footer {
  padding: 90px 0;
}

footer .contain .footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .contain .footer .footer-top .prague-footer-main-block {
  padding: 30px 0;
}

footer .contain .footer .footer-top .prague-footer-main-block figure img {
  width: 160px;
  height: 50px;
}

footer .contain .footer .footer-top .prague-footer-main-block p {
  width: 50%;
  padding-top: 20px;
  color: white;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.5px;
}

footer .contain .footer .footer-top .prague-footer-block {
  padding: 30px 0;
  text-align: end;
}

footer .contain .footer .footer-top .prague-footer-block h6 {
  font-weight: 300;
  font-style: normal;
  letter-spacing: 4.5px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

footer .contain .footer .footer-top .prague-footer-block div {
  padding: 40px 0;
}

footer .contain .footer .footer-top .prague-footer-block div p {
  color: white;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.5px;
}

footer .contain .footer .footer-top .prague-footer-block div p a {
  color: white;
}

footer .contain .footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .contain .footer .footer-bottom .prague-main-block {
  padding: 60px 0;
}

footer .contain .footer .footer-bottom .prague-main-block p {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.5px;
  color: white;
}

footer .contain .footer .footer-bottom .prague-block {
  padding: 60px 0;
}

footer .contain .footer .footer-bottom .prague-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

footer .contain .footer .footer-bottom .prague-block ul li {
  border: 1px solid white;
  padding: 10px 10px;
}

footer .contain .footer .footer-bottom .prague-block ul li a {
  font-family: "Roboto", sans-serif;
  color: white;
}

footer .contain .footer .footer-bottom .prague-block ul .twitter {
  border: 1px solid white;
  padding: 10px 12px;
}

footer .contain .footer .footer-bottom .prague-block ul .twitter a {
  font-family: "Roboto", sans-serif;
  color: white;
}

footer .contain .footer .footer-bottom .prague-block ul .facebook {
  border: 1px solid white;
  padding: 10px 15px;
}

footer .contain .footer .footer-bottom .prague-block ul .facebook a {
  font-family: "Roboto", sans-serif;
  color: white;
}

footer .contain .footer .footer-bottom .prague-block ul .painterest {
  border: 1px solid white;
  padding: 10px 13px;
}

footer .contain .footer .footer-bottom .prague-block ul .painterest a {
  font-family: "Roboto", sans-serif;
  color: white;
}

@media (max-width: 1024px) {
  footer .contain {
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  footer .contain .footer {
    padding: 90px 0;
  }
  footer .contain .footer .footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .contain .footer .footer-top .prague-footer-main-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  footer .contain .footer .footer-top .prague-footer-main-block p {
    width: 50%;
    padding-top: 20px;
    color: white;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1.5px;
  }
  footer .contain .footer .footer-top .prague-footer-block {
    text-align: center !important;
    padding: 30px 0;
    text-align: end;
  }
  footer .contain .footer .footer-top .prague-footer-block h6 {
    font-weight: 300;
    font-style: normal;
    letter-spacing: 4.5px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
  }
  footer .contain .footer .footer-top .prague-footer-block div {
    padding: 40px 0;
  }
  footer .contain .footer .footer-top .prague-footer-block div p {
    color: white;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1.5px;
  }
  footer .contain .footer .footer-top .prague-footer-block div p a {
    color: white;
  }
  footer .contain .footer .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .contain .footer .footer-bottom .prague-main-block {
    padding: 60px 0;
  }
  footer .contain .footer .footer-bottom .prague-main-block p {
    font-family: "Roboto", sans-serif;
    letter-spacing: 1.5px;
    color: white;
  }
  footer .contain .footer .footer-bottom .prague-block {
    padding: 60px 0;
  }
  footer .contain .footer .footer-bottom .prague-block ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
  footer .contain .footer .footer-bottom .prague-block ul li {
    border: 1px solid white;
    padding: 10px 10px;
  }
  footer .contain .footer .footer-bottom .prague-block ul li a {
    font-family: "Roboto", sans-serif;
    color: white;
  }
  footer .contain .footer .footer-bottom .prague-block ul .twitter {
    border: 1px solid white;
    padding: 10px 12px;
  }
  footer .contain .footer .footer-bottom .prague-block ul .twitter a {
    font-family: "Roboto", sans-serif;
    color: white;
  }
  footer .contain .footer .footer-bottom .prague-block ul .facebook {
    border: 1px solid white;
    padding: 10px 15px;
  }
  footer .contain .footer .footer-bottom .prague-block ul .facebook a {
    font-family: "Roboto", sans-serif;
    color: white;
  }
  footer .contain .footer .footer-bottom .prague-block ul .painterest {
    border: 1px solid white;
    padding: 10px 13px;
  }
  footer .contain .footer .footer-bottom .prague-block ul .painterest a {
    font-family: "Roboto", sans-serif;
    color: white;
  }
}
/*# sourceMappingURL=page.css.map */